#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Navbar styling */
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.navbar-left {
  text-align: left;
}

.navbar-right {
  text-align: right;
}

.nav-bar-item {
  margin-right: 20px;
}

.large {
  font-size: 1.5rem;
}

.topic-link{
  font-size: 1.2rem;
} 

  


/* Articles styling */

.articles-container {
  max-width: 500px;
}

.articles-card {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.articles-card:last-of-type {
  border-bottom: none;
}

.article-img-small {
  max-width: 200px;
  max-height: 200px;
  margin-left: 1.8rem;
  outline: 1px solid #ccc;
  object-fit: cover;
}


/* SingleArticle styling */
.single-article-container {
  max-width: 500px;
  margin: auto;
}

.article-img-large {
  max-width: 500px;
  max-height: 500px;
  outline: 1px solid #ccc;
}

.single-article-body {
  font-size: 1.3rem;
  text-align: left;
}

.text-align-left{
  text-align: left;
}

.comments-container {
  max-width: 500px;
  text-align: left;
}

.comments-header {
  padding-top: 30px;
  border-top: 1px solid #ccc;
  text-align: left;
}

.comment-card {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.comment-card:last-of-type {
  border-bottom: none;
}

.comment-input {
  min-height: 32px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.add-comment-button {
  margin-top: 15px;
}

.vote-button-selected {
  background-color: white;
  color: black;
}

/*  */

.sortby-dropdown-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 13px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#sortField {
  padding: 7px;
  height: 40px;
  margin-right: 5px;
}

.order-button{
  margin: 2px; 
}

.order-button-selected{
  margin: 2px; 
  background-color: white;
  color: black;
}


.topics-navbar-container {
  max-width: 500px;
  padding: 7px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}


/* Users styling */
.users-container {
  min-width: 400px;
}

.user-card{
  max-width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card:last-of-type {
  border-bottom: none;
}

.profile-picture-container {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.profile-picture {
  max-width: 128px;
  max-height: 128px;
}