#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Articles styling */
.articles-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.articles-card {
  outline: 1px solid white;
  justify-content: center;
  padding: 20px;
}

.article-img-small {
  max-width: 128px;
  max-height: 128px;
  margin: auto;
  outline: 1px solid white;
}


/* SingleArticle styling */
.single-article-container {
  max-width: 500px;
  margin: auto;
}

.article-img-large {
  max-width: 500px;
  max-height: 500px;
  outline: 1px solid white;
}

.single-article-body {
  font-size: 1.3rem;
  text-align: left;
}

.text-align-left{
  text-align: left;
}

.comments-container {
  max-width: 500px;
  text-align: left;
}

.comment-card {
  outline: 1px solid white;
  padding: 15px;
}
